@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  table:not(.default) {
    th,
    td {
      padding: 0.5rem;
    }
  }
}

@layer components {
  .flex-centered {
    @apply flex items-center justify-center;
  }

  .grid-centered {
    @apply grid place-items-center;
  }

  .error,
  .success {
    @apply mb-2 rounded border p-3;

    .title {
      @apply mb-2 text-2xl;
    }
  }

  .error {
    @apply border-red-300 bg-red-300/10 text-red-800 dark:border-red-800 dark:text-red-400;
  }
  .success {
    @apply border-green-300 bg-green-300/10 text-green-800 dark:border-green-800 dark:text-green-400;
  }

  .btn {
    @apply rounded-md bg-primary text-on-primary hover:scale-95 dark:bg-primary-dark dark:text-on-primary-dark;

    &.loading {
      @apply grayscale;

      &::after,
      &::before {
        @apply border-white;
      }
    }

    &:disabled {
      @apply bg-black/30;
    }
  }

  .btn-text {
    @apply rounded-full bg-transparent;

    &.loading {
      &::after,
      &::before {
        @apply border-primary;
      }
    }
  }

  .btn,
  .btn-text {
    @apply px-3 py-2;

    &-icon {
      // @extend .btn, .btn-text;
      @apply flex items-center gap-x-2 rounded-full px-3 py-2 text-primary;

      svg {
        @apply h-5 w-5;
      }
    }
  }

  .btn-text,
  .btn-icon,
  .btn-text-icon {
    @apply bg-primary/10 text-primary-dark transition-colors hover:bg-primary/20 dark:bg-primary/10 dark:text-primary-dark dark:hover:bg-primary/20;

    &:disabled {
      @apply bg-transparent text-black/50;
    }
  }

  .btn,
  .btn-text,
  .btn-icon {
    @apply transition-colors;

    &:focus,
    &:focus-visible,
    &:focus-within {
      @apply outline-none ring-4 ring-primary/10 ring-offset-2 ring-offset-primary/40;
    }

    &.loading {
      @apply pointer-events-none relative text-transparent;
    }

    &.loading::after,
    &.loading::before {
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2;
      content: '';
      width: 20px;
      height: 20px;
    }

    &.loading::before {
      @apply opacity-30;
    }

    &.loading::after {
      @apply border-r-transparent border-t-transparent;
      animation: rotate 1s infinite linear;
    }

    &:disabled {
      @apply cursor-not-allowed;
    }
  }

  .btn-icon {
    @apply cursor-pointer p-3;
  }

  .btn-icon,
  .btn-text-icon {
    &.micro:hover > svg {
      @apply rotate-90 transition-transform duration-300;
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
